h1{
    text-align:center;
    color:rgb(67, 74, 67);
    font-size:90px;
    border:2px solid red;
    background-color:#e6dbdb;
    font-style: inherit;
}
h2{
    text-align: left;
    color:rgb(245, 9, 9);
    font-size: 70px;;
    font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    font-style: italic;
}
p{
    font-size:25px;
    color:rgb(7, 91, 246);
    
    margin:10px 2px;
    padding:10px 2px;
}
.image{
     height:300px;
     width:400px;
     margin:10px;
    padding:10px;
}
p:hover{
    color:rgb(234, 36, 234);
    font-size:30px;
}
footer{
    text-align: center;
}
.logo{
    height:100px;
    width:100px;
    border:2px solid black;
}
.navbar{
    
    margin:12px;
}
.icon{
    float:right;
    display:inline;
    display:flex;
    list-style: none;
    margin:5px;
    
}
#icon1{
    margin:7px;
    padding:5px;
    border:1px solid #818181;
    border-radius:5px;
    background-color:  rgb(206, 218, 210);
}
#icon2{
    margin:7px;
    padding:5px;
    border:1px solid #818181;
    border-radius:5px;
    background-color: rgb(206, 218, 210);
}
#icon3{
    margin:7px;
    padding:5px;
    border:1px solid #818181;
    border-radius:5px;
    background-color:  rgb(206, 218, 210);
}
#icon4{
    margin:7px;
    padding:5px;
    border:1px solid #818181;
    border-radius:5px;
    background-color:  rgb(206, 218, 210);
}
